body {
    font-family: Arial, Helvetica, sans-serif;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

main {
    margin-top: 107.85px;
}

form img {
    height: 30px;
}

div.ms-header-top {
    background-color: black;
}

div.ms-header-top img {
    width: 90px;
}

a.navbar-brand img {
    height: 60px;
}

footer {
    background-color: rgb(0, 67, 156);
}

div#jumbotron-returnal {
    height: 500px;
    background-image: url(../img/jumbo-bg.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

div.box-riempitore {
    width: 100%;
    height: 200px;
    background-color: plum;
}

a.my-btn {
    border-radius: 1.2rem;
}

div.cards-s-m img {
    width: 100px;
}

img#returnal-logo {
    width: 260px;
}

div#it-takes-two {
    height: 520px;
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

img#it-takes-logo {
    width: 250px;
}

div#cards-it-takes-two {
    background-color: rgb(31, 31, 31);
}

div#playstation-plus {
    background-color: rgb(190, 188, 187);
    height: 380px;
}

img#footer-play-logo {
    width: 80px;  
}

img#my-language {
    width: 18px;
}

p#country,
a,
#text-rights {
    font-size: 13px;
}

img#sony-footer-logo {
    width: 90px;
}

img#soulstorm {
    height: 380px;
}

img#ps-plus-logo {
    width: 280px;
}

div#playstation-now {
    background-color: rgb(22, 28, 59);
    height: 430px;
}

img#ps-april-games{
    height: 430px;
}

img#ps-now-logo {
    width: 300px;
}